@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

ol,ul{
    list-style: none;

}

a{
    text-decoration: none;
}

                                                         /* HEADER */


.header{
    background-color: white;
    width: 100%;
    min-height: 83px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #e7eaed;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header__contenedor{
    max-width: 1022px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.header__logo{
    max-width: 100%;
    height: 100%;
    max-height: 37px;
    width: auto;
}

.header__lista-menu{
    display: flex;
    flex-direction: row;
    margin-left: 18px;
}

.header__lista-item{
    margin: 0px 4px;
    padding: 6px 24px;
    min-height: 41px;
    line-height: 24px;  
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}

.header__lista-item:hover{
    background-color: #e4d7ff;
    border-radius: 50px;
    cursor: pointer;
}

.separador{
    align-items: center;
}
.separador::after{
    content: "";
    width: 1px;
    height: 24px;
    background-color: #bebebe;
}

.header__lista-ancla{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 2px;
    justify-content: end;
}

.header__lista-ancla li a{
    letter-spacing: 0.23px;
    font-size: 14.4px;
    color: #652bdf;
    border: 1px solid #6930e0;
    border-radius: 50px;
    min-width: 160px;
    transition: 0.5s;
}

.header__lista-ancla li:nth-child(2) a{
    color: white;
    background-color: #652bdf;
}

.header__lista-ancla li:nth-child(2) a:hover{   
    background-color: #e4d7ff;
    color: #360c72;
}

                                                      /* MAIN */




.main__contenedor{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcfbff;
}

.carrusel{ 
    border: 1px solid red;
    /* creado para separar la img de la botonera */
}

.carrusel__contenedor-imagen-1{
    display: flex;
    justify-content: center;
}

.carrusel__imagen-1{
    width: 100%;
    max-width: 1100px;
    /* height: 400px; */
    border-radius: 30px;
    overflow: hidden;
}

.carrusel__imagen-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel__contenedor-botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carrusel__botones{
    display: flex;
    gap: 8px;
    margin: 22px 0px;
}





.contenedor-titulo{
    margin: 64px 0px 32px;
}

.titulo{
    text-align: center;
    line-height: 42px;
    font-size: 40px;
    margin-top: 6px;
    letter-spacing: -0.5px;
}





.contenedor-cartas{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    max-width: 1022px;
    max-height: 662px;
    border-radius: 16px;
}

.cartas{
    width: 100%;
    max-width: 317px;
    height: 262px;
    display: flex;
    flex-direction: column;
    transition: transform 0.15s ease;
    transition: transform 0.35s ease-in;
}

.cartas:hover{
    transform: translateY(-6px);
}

.cartas__contenido{
    height: 100%;
    width: 100%;
    padding: 24px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #ffffff;
}

.cartas__contenido__imagen{
    width: 62px;
    min-height: 62px;
    overflow: hidden;
    display: flex;
    margin-bottom: 10px;
    border-radius: 16px;
}


.cartas__contenido__imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.cartas__contenido__texto{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cartas__contenido__texto h2{
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
    color: rgb(43, 43, 43);
    
}

.cartas__contenido__texto p{
    font-weight: 400;
    line-height: 27px;
    font-size: 18px;
    font-style: normal;
    color: rgb(106, 106, 106);
}





.contenedor-banner{
    margin: 32px 0px 64px;
    background-color: #360c72;
    display: flex;
    width: 100%;
    max-width: 1022px;
    height: 100%;
    min-height: 134px;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
}

.contenedor-texto{
    padding: 32px 40px;
    margin: 0px 24px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
}

.contenedor-texto__letras{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo-2{
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    color: #fff;
    letter-spacing: -0.3px;
}

.contenedor-texto__letras p{
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.contenedor-texto__ancla{
    width: 192px;
    height: 46px;
    display: flex;
}

.contenedor-texto__ancla a{
    padding: 10px 32px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #652BDF;
    font-size: 16px;
    border-radius: 50px;
}

.contenedor-texto__ancla a:hover{
    background-color: #000;
    color: #e4d7ff;
    transition: 0.5s;
}






.contenedor-titulo-2{
    min-height: 58px;
}






.div-raro-contenedor-p{
    min-height: 72px;
    text-align: center;
    margin-top: 16px;
}

.div-raro-contenedor-p p{
    color: rgb(106, 106, 106);
    font-weight: 400;
    font-size: 16px;
}





.contenedor-tarjetas{
    background-color: #fff;
    width: 100%;
    max-width: 1022px;
    min-height: 350px;
    display: flex;
    justify-content: space-between;
    border-radius: 32px;
    margin-top: 48px;
}

.reverse{
    flex-direction: row-reverse;
}

.contenedor-tarjetas__descripcion{
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
}

.contenedor-tarjetas__descripcion_texto-normal{
    min-height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.contenedor-tarjetas__descripcion_texto-normal p{
    font-weight: 400;
    line-height: 27px;
    font-size: 18px;
    font-style: normal;
    color: #000;
    max-width: 450px;
}

.contenedor-tarjetas__descripcion_texto-ancla{
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.contenedor-tarjetas__descripcion_texto-ancla a{
    letter-spacing: 0.23px;
    font-size: 14.4px;
    color: #fff;
    border-radius: 50px;
    padding: 10px 32px;
    background-color: #652bdf;
    transition: 0.7s;
}

.contenedor-tarjetas__descripcion_texto-ancla a:hover {
    background-color: #360c72;
}

.izquierda-negro{
    display: flex;
    justify-content: flex-start;
    color: #000;
}

.contenedor-tarjetas__imagen{
    width: 100%;
    max-width: 511px;
    overflow: hidden;
}

.contenedor-tarjetas__imagen img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.contenedor-tarjetas__imagen img:hover{
    transform: scale(1.04);
}








                                     /* media */



@media(max-width:480px){
    .carrusel__imagen-1{
        border-radius: 0px;
    }

    .contenedor-cartas{
        flex-direction: column;
        align-items:center;
    }

    

    .contenedor-banner{
        margin-top: 85px;
        width: 342px;
        height: 267px;
    }

    .contenedor-texto{
        flex-direction: column;
        justify-content: space-around;
        gap: 15px;
    }

    .contenedor-texto__letras p{
        max-width: 220px;
    }



    .contenedor-tarjetas{
        flex-direction: column-reverse;
        align-items: center;
    }

    .titulo{
        font-size: 30px;
        line-height: 36px;
    }

    .titulo-2{
        font-size: 24px;
        line-height: 26px;
    }
}
























body{
    height: 500vh;
}