@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

ol,ul{
    list-style: none;

}

a{
    text-decoration: none;
}

                                                         /* HEADER */


.header{
    background-color: white;
    width: 100%;
    min-height: 83px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #e7eaed;
    position: sticky;
    top: 0;
}

/* .header__contenedor{
    width: 1022px;
    padding: 16px;
    display: flex;
    flex-direction: row;   
} */

.header__contenedor{
    max-width: 1022px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.header__logo{
    max-width: 100%;
    height: 100%;
    max-height: 37px;
    width: auto;
}

.header__lista-menu{
    display: flex;
    flex-direction: row;
    margin-left: 18px;
}

.header__lista-item{
    margin: 0px 4px;
    padding: 6px 24px;
    min-height: 41px;
    line-height: 24px;  
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}

.header__lista-item:hover{
    background-color: #e4d7ff;
    border-radius: 50px;
    cursor: pointer;
}

.separador{
    align-items: center;
}
.separador::after{
    content: "";
    width: 1px;
    height: 24px;
    background-color: #bebebe;
}

.header__lista-ancla{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 2px;
    justify-content: end;
}

.header__lista-ancla li a{
    font-size: 14.4px;
    color: #652bdf;
    border: 1px solid #6930e0;
    border-radius: 50px;
    min-width: 160px;
}

.header__lista-ancla li a:hover{
    transition: 0.5s;
}

.header__lista-ancla li:nth-child(2) a{
    color: white;
    background-color: #652bdf;
}

.header__lista-ancla li:nth-child(2) a:hover{   
    background-color: #e4d7ff;
    color: #360c72;
}

                                                      /* MAIN */




.main__contenedor{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrusel{ 
    border: 1px solid red;
    /* creado para separar la img de la botonera */
}

.carrusel__contenedor-imagen-1{
    display: flex;
    justify-content: center;
}

.carrusel__imagen-1{
    width: 1100px;
    height: 400px;
    border-radius: 30px;
    overflow: hidden;
}

.carrusel__imagen-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel__contenedor-botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carrusel__botones{
    display: flex;
    gap: 8px;
    margin: 22px 0px;
}


.contenedor-titulo{
    margin: 64px 0px 32px;
}

.titulo{
    text-align: center;
    line-height: 42px;
    font-size: 40px;
    margin-top: 6px;
    letter-spacing: -0.5px;
}



.contenedor-cartas{
    border: 2px solid black;
    display: flex;
    width: 1022px;
    background-color: #6930e0;
}

.cartas{
    flex: 1;
    background-color: red;
    border: 2px solid blue;
    width: 317px;
    height: 260px;
    padding: 24px;
    margin-top: 12px;
}

.cartas__contenido{
    background-color: #6930e0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cartas__contenido__imagen{
    width: 62px;
    height: 62px;
    overflow: hidden;
    background-color: red;
    display: flex;
}

..cartas__contenido__imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cartas__contenido__texto{
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cartas__contenido__texto h2{
    
}






































body{
    height: 159vh;
}